* {
    box-sizing: border-box;
    font-family: 'Josefin Sans';
  }

  body{
      margin: 0;
      padding: 0 10rem;
  }

  header {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
  }

  .container {
      background-color: rgb(237, 242, 239);
      border-radius: 5px;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }


.btn-new-bookmark {
    width: 35%;
    flex-direction: center;
    font-size: 1rem;
    font-weight: 400;
    height: 2rem;
    margin-bottom: 1rem;
    padding-top: .2rem;
 }

 .filter{
     font-size: 1rem;
    height: 2rem;
    width: 35%;
    margin-bottom: 1rem;
 }

 .btn:not(.btn-delete-bookmark){
    background-color: gray;
    color: white;
    border-radius: .5rem;
    border: 2px solid gray;
    
    text-transform: uppercase;
    cursor: pointer;
 }

 .delete-btn {
    cursor: pointer;
 }

 .btn:hover {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
 }

 .flex-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5rem;

    background-color :gray;
    text-align: center;
   

}

.bookmarkDetails {
 height: 17rem;
 width: 25rem;
 padding: 1.5rem 1.5rem;
 border: 2px solid gray;
 border-radius: 1rem;;
}

input, label {
    font-family: 'Josefin Sans';
    font-size: 1rem;
}

.inputAndTitle {
    margin-right: 2rem;
    padding-bottom: 1rem;
}

input {
    width: 13rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.AddFilterByRating {
    width: 13rem;
    height: 2rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

textarea {
    vertical-align: top;
    width: 12rem;
    height: 4rem; 
    margin-bottom: .9rem;
} 
.bookmark-btn-create, .bookmark-btn-cancel {
    padding: .5rem .5rem;
    margin-left: 2rem;
    font-size: .8rem;
}

.bookmark-btn-create {
    margin-left: 4rem;
    margin-right: 2rem;
}

li{
    display: inline;;
    list-style: none;
    text-align: center;
}

.bookmark-element,.expandContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 3px;
    border: 2px solid gray;
    padding-top: .5rem;
    margin-top: .5rem;
    border-radius: 5px;
    width:  22rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
} 

.bookmark-item-title {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.expandContent {
    display: flex;
    justify-content: center; 
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    
}

.visit-btn {
    margin-left: 3rem;
    margin-bottom: .3rem;
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
}

.delete-btn {
    background-color: transparent;
    
    border: none;
    font-size: 1rem;
}
.rating-span {
    display: inline;
    text-align: center;
    font-size: 1rem;
}

p {
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: 1rem;

}

.hiddenClass {
    display: none;
}

